@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------------------------*\
    $TABLE DES MATIERES
\*------------------------------------*/
/*
 * RESET...............Réinitialisation des styles par défaut
 * POLICE.............Vous êtes en train de le lire
 * TYPOGRAPHIE.............Vous êtes en train de le lire
 * NAVIGATION.............Vous êtes en train de le lire
 * CAROUSEL.............Vous êtes en train de le lire
 * CSS GENERAL................Les polices de caractère
 * FOOTER................Les polices de caractère
 * MEDIA QUERIES................Les polices de caractère
 */
/*------------------------------------*\
    $POLICES
\*------------------------------------*/
@font-face {
  font-family: "Kraskario";
  src: url("../fonts/Kraskarioitalic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Kraskario";
  src: url("../fonts/Kraskario.ttf");
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
}
/*------------------------------------*\
    $TYPOGRAPHIE
\*------------------------------------*/
/* line 53, ../sass/eagle.scss */
h1, h2, h3 {
  font-family: "Kraskario", serif;
  font-weight: 400;
  font-style: italic;
}

/* line 59, ../sass/eagle.scss */
h1 {
  color: #094030;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(../fonts/PIE.htc);
  text-align: center;
  font-size: 42px;
  margin-bottom: 25px;
}

/* line 68, ../sass/eagle.scss */
h2 {
  font-size: 42px;
}

/* line 72, ../sass/eagle.scss */
h3 {
  font-size: 28px;
}

/* line 76, ../sass/eagle.scss */
p {
  margin: 0 0 10px;
  line-height: 1.5em;
}

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
/* line 88, ../sass/eagle.scss */
nav {
  font-family: "OpenSans", verdana, arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

/* line 95, ../sass/eagle.scss */
.logonav {
  margin-top: -20px;
  max-width: 250px;
}

/* line 100, ../sass/eagle.scss */
.nous .navbar-default {
  background-color: #C8F992;
  background-image: none;
  -moz-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.5);
  -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.5);
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.5);
}

/* line 106, ../sass/eagle.scss */
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 0;
}

/*------------------------------------*\
    $CAROUSEL
\*------------------------------------*/
/* line 117, ../sass/eagle.scss */
#carousel-example-generic {
  box-shadow: 2px 2px 2px 2px #242424;
}

/* line 121, ../sass/eagle.scss */
#carousel-example-generic img {
  width: 100%;
}

/* line 125, ../sass/eagle.scss */
.carousel-inner {
  width: 100%;
  height: 100%;
}

/*------------------------------------*\
    $SECTION
\*------------------------------------*/
/* line 137, ../sass/eagle.scss */
.section {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 144, ../sass/eagle.scss */
.section-blanche {
  background-color: #fff;
  border: 1px solid #C8F992;
  margin-top: 30px;
}

/* line 149, ../sass/eagle.scss */
.section-verte {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #C8F992;
  border: solid 1px #a3f549;
  padding: 10px;
}

/*------------------------------------*\
    $GENERAL
\*------------------------------------*/
/* line 162, ../sass/eagle.scss */
body {
  font-family: "OpenSans", verdana, arial, sans-serif;
  font-size: 15px;
  background-image: url(../images/bandes_fond.jpg);
  padding-top: -20px;
}

/* line 168, ../sass/eagle.scss */
.sous-titre {
  color: #094030;
  margin-top: 20px;
  margin-bottom: 25px;
  padding-top: 50px;
}

/* line 175, ../sass/eagle.scss */
.grand-logo {
  padding: 0 40px;
  margin-top: 15px;
}

/* line 180, ../sass/eagle.scss */
.grand-logo img {
  width: 80%;
  display: block;
  margin: auto;
}

/* line 186, ../sass/eagle.scss */
.presentation {
  padding: 10px 10px 25px 10px;
}

/* line 189, ../sass/eagle.scss */
.presentation img {
  margin-top: -50px;
}

/* line 192, ../sass/eagle.scss */
.presentation h1, .presentation p {
  margin-top: -10px;
}

/* line 196, ../sass/eagle.scss */
.pedagogie li {
  list-style: square;
  padding-bottom: 20px;
}

/* line 201, ../sass/eagle.scss */
.annim {
  border-radius: 100%;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 8px solid #C8F992;
}

/* line 208, ../sass/eagle.scss */
.recrutement {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 213, ../sass/eagle.scss */
.bureau {
  background-image: url("../images/fond_bureau.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  -moz-background-size: center;
  -o-background-size: center;
  -webkit-background-size: center;
  background-size: center;
  background-position: center;
  behavior: url(../fonts/PIE.htc);
  z-index: 3;
  margin-top: 30px;
  padding: 20px 20px;
  margin-right: 20px;
  margin-left: 20px;
}

/* line 226, ../sass/eagle.scss */
.sous-titre-bureau {
  color: #094030;
  background-color: #fff;
}

/* line 231, ../sass/eagle.scss */
.encart {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #C8F992;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* line 239, ../sass/eagle.scss */
.encart-gauche {
  margin-left: 35px;
}

/* line 242, ../sass/eagle.scss */
.encart-droit {
  margin-right: 35px;
}

/* line 245, ../sass/eagle.scss */
.adresse {
  margin-bottom: 40px;
}

/* line 248, ../sass/eagle.scss */
.temoignage {
  margin-bottom: 20px;
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/* line 258, ../sass/eagle.scss */
footer {
  margin-top: 40px;
  padding-top: 20px !important;
  padding-bottom: 30px !important;
}

/*------------------------------------*\
    $MEDIA QUERIES
\*------------------------------------*/
@media (max-width: 1000px) {
  /* line 272, ../sass/eagle.scss */
  .navbar-header {
    float: none;
  }

  /* line 276, ../sass/eagle.scss */
  .navbar-left, .navbar-right {
    float: none !important;
  }

  /* line 280, ../sass/eagle.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 284, ../sass/eagle.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  /* line 289, ../sass/eagle.scss */
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  /* line 294, ../sass/eagle.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 298, ../sass/eagle.scss */
  .navbar-nav {
    float: none !important;
    margin-top: 7px;
  }

  /* line 303, ../sass/eagle.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 307, ../sass/eagle.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* line 312, ../sass/eagle.scss */
  .collapse.in {
    display: block !important;
  }
}
